<h1>Can Mixpanel Do It?</h1>


<h3>The 5 most recent topics are:</h3>
<div class="container">
	<% @topics.each do |topic|%>
	<div class="topic">
		<h4 class="title"><%= link_to topic.topic, topic %>, <%= topic.created_at.localtime.strftime("posted on %m/%d/%Y at %I:%M%p") %></h4>
		<div class="body"><%= topic.body %></div>
	</div>
	<% end %>
</div>

<div class="container">
	<p><%= link_to "Create a topic", :action => "new" %></p>
</div>