<p>You signed up!</p>

<p>We just called mixpanel.alias("<%= current_user.email %>");</p>

<script type="text/javascript">
	mixpanel.alias("<%= current_user.email %>");
	mixpanel.people.set({"$email":"<%= current_user.email %>"})
</script>