// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.content_wrapper {
	margin:auto;
	text-align:left;
	clear:bottom;
	padding:20px 30px 10px 30px;
	min-height:300px;
}

// Index page mobile
@media only screen and (min-device-width : 320px) and (max-device-width : 641px) {
	
	.index {

		.subheading {

		}

		.container {
			margin:0 0 10px 0;

			.topic {
				margin:10px 0 10px 0;

				.title {
					font-size:18px;
				}

				.body {
					font-size:16px;
					margin: 10px 0 10px 0;
				}
			}
		}
	}
}

// Index page desktop
@media only screen and (min-device-width : 640px) {

	.index {

		.subheading {

		}

		.container {
			margin:0 0 10px 0;

			.topic {
				margin:10px 0 10px 0;

				.title {
					font-size:18px;
				}

				.body {
					font-size:16px;
					margin: 10px 0 10px 0;
				}
			}
		}
	}
}

// Show page mobile
@media only screen and (min-device-width : 320px) and (max-device-width : 641px) {
	
	.show {

		.subheading {

		}
	}
}

// Show page desktop
@media only screen and (min-device-width : 640px) {

	.show {

	}
}