// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.content_wrapper {
	margin:auto;
	text-align:left;
	clear:bottom;
	padding:0 30px 10px 30px;
	min-height:300px;
}

.body {
	font-family: "HelveticaNeue-Light", "HelveticaNeue";
}

// Index page mobile
@media only screen and (min-device-width : 320px) and (max-device-width : 641px) {
	
	.index {

		.subheading {
			margin-bottom: 20px;
			text-align: center;
		}

		.container {
			margin:0 0 10px 0;

			.topic {
				margin:0px 0 20px 0;
				padding: 0 0 10px 0;
				border-bottom: solid 1px #ddd;

				.title {
					font-size:16px;
				}

				.date {
					display:none;
				}

				.author {
					display:none;
				}

				.body {
					font-family: "HelveticaNeue-Light";
					font-size:16px;
					margin: 10px 0 10px 0;
				}
			}
		}
	}
}

// Index page desktop
@media only screen and (min-device-width : 640px) {

	.content_wrapper {
		padding-top:20px;
	}

	.index {
		width:92%;
		margin:auto;
		.subheading {
			margin-bottom:40px;
		}

		.container {
			margin:0 0 10px 0;

			.topic {
				margin:0 0 20px 0;
				padding: 0 0 10px 0;
				border-bottom: solid 1px #ddd;


				.title {
					font-size:18px;
				}

				.body {
					font-size:16px;
					padding: 10px 0 10px 0;
				}
			}
		}
	}
}

// Show page mobile
@media only screen and (min-device-width : 320px) and (max-device-width : 641px) {
	
	.show {

		.subheading {

		}
	}
}

// Show page desktop
@media only screen and (min-device-width : 640px) {

	.show {

	}
}